<launch>

  <!-- fall_detection_node  -->
  <node pkg="C42_ZMPWalk" type="atlasfalldetection.py" name="C42_ZMP_fall_detection_Node" />
  
  <!-- Start CoM publisher node -->
  <node pkg="C43_LocalBodyCOM" type="computeCOM" name="c43_local_body"/>
 
  <!-- zmp_node  -->
  <node pkg="C42_ZMPWalk" type="zmp_main.py" name="C42_ZMPwalkNode" />
  
  <!-- Leg IK caller -->
  <node pkg="C42_Leg_IK" type="IK_Caller.py" name="IK_Caller" />
  

 </launch>
