<launch>
	<!-- Alter back_lbz PID -->
	<param name="back_lbz_position_controller/pid/d" type="double" value="300" />
	<param name="back_lbz_position_controller/pid/p" type="double" value="100" />
	<node name="reload_back_lbz" pkg="C45_PostureControl" type="reload_back_lbz_controller.sh" />	
	
	<param name="PID_gains/P" type="double" value="0.00" />
	<param name="PID_gains/I" type="double" value="-0.00" />
	<param name="PID_gains/D" type="double" value="-0.02" />
	
	<node name="C45_PostureControl_com_error" pkg="C45_PostureControl" type="C45_PostureControl_com_error" cwd="node"/>
	<node name="C45_PostureControl" pkg="C45_PostureControl" type="C45_PostureControl" cwd="node"/>
	<!--<node name="C45_PostureControl" pkg="C45_PostureControl" type="C45_PostureControl" cwd="node"/>-->
</launch>