<launch>

  <arg name="gzname" default="gazebo"/>

  <!-- start gazebo with the Atlas -->
  <include file="$(find atlas_utils)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
  </include>

  <include file="$(find atlas_utils)/launch/atlas_bringup.launch"/>

  <!-- Start CoM publisher node -->
  <node name="test_stability"
        pkg="hrl_kinematics" type="test_stability" output="screen" />
</launch>
