<launch>

  
  <arg name="gzname" default="gazebo"/>

  <!-- start gazebo with the Atlas -->
  <include file="$(find atlas_utils)/launch/atlas_no_controllers.launch">
    <arg name="gzname" value="$(arg gzname)"/>
  </include>

  <include file="$(find atlas_utils)/launch/atlas_bringup.launch"/>



  <!-- Start init_zmp node -->
  <node pkg="init_zmp" type="init_zmp.py" name="init_zmp"/>
  
</launch>
