<launch>


<!-- Atlas, enter car!!!-->
<node name="foo" pkg="C51_CarOperation" type="C51_bash.sh" />

<!-- C21 - on! -->
<include  file="$(find C21_VisionAndLidar)/launch/C21.launch" />

<!-- Start C22 -->
<node name="C22" pkg="C22_GroundRecognitionAndMapping" type="C22" />

<!-- Start C34 -->
<node name="C34" pkg="C34_Executer" type="executer" />

<!-- Start C31 -->
<node name="C31" pkg="C31_PathPlanner" type="gpp" />

<!-- C34_Designer - on! -->
<include  file="$(find C34_Designer)/launch/start.launch" />

</launch>
  

