<launch>

 <!-- zmp_node  -->
  <node pkg="zmp_walk" type="zmp_main.py" name="zmp_movement_plan" />
  
  <!-- Leg IK caller -->
  <node pkg="leg_ik" type="IK_Caller.py" name="IK_Caller" />

  <!-- Start CoM publisher node -->
  <node pkg="hrl_kinematics" type="test_stability" name="test_stability"/>

  <!-- Leg IK server -->
  <!-- node pkg="leg_ik" type="leg_ik_server3D.py" name="leg_ik_server" /-->


  <!-- Fake path planner  -->
  <node pkg="C42_DynamicLocomotion" type="C31_GetPath_clone.py" name="dummy_path_service" />

  <!-- Actrion Server  -->
  <node pkg="C42_DynamicLocomotion" type="ZMPWalkServer.py" name="ZMP_Walk_Server" />
  

</launch>